/*
Theme Name: OnePage by MyThemeShop
Theme URI: http://mythemeshop.com/themes/onepage/
Author: MyThemeShop
Author URI: http://mythemeshop.com/
Description: OnePage is a single page WordPress theme that has a creative homepage layout, 2 blog layouts, with full customizability, beautiful CSS3 animations, a responsive design, and great optimizations.
Version: 1.1.11
Text Domain: mythemeshop
Domain Path: /lang
*/
* { box-sizing: border-box }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
ol, ul { list-style: none }
blockquote, q { quotes: none }
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button, .button, input[type=submit], input[type=reset], *[type=button] {
    cursor: pointer;
    display: inline-block;
    padding: 18px 22px;
    background-color: #282828;
    font-weight: 500;
    font-size: 1.2em;
    color: #fff;
    border-radius: 3px;
    transition: background-color .25s ease;
}
button, input, select, textarea { margin: 0 }
:focus { outline: 0 }
img, video, object {
    max-width: 100%;
    height: auto!important;
}
iframe { max-width: 100% }
blockquote {
    background-color: #F0F0F0;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    line-height: 28px;
    margin-top: 25px;
    padding: 20px 20px 10px;
    position: relative;
}
blockquote p { margin-bottom: 10px }
strong, b { font-weight: bold }
em, i, cite { font-style: italic }
small { font-size: 100% }
figure { margin: 10px 0 }
code, pre {
    font-weight: normal;
    font-style: normal;
}
pre {
    margin: 5px 0 20px 0;
    line-height: 1.3em;
    padding: 8px 10px;
    overflow: auto;
}
code {
    padding: 0 8px;
    line-height: 1.5;
}
mark {
    padding: 1px 6px;
    margin: 0 2px;
    color: black;
    background: #FFF7A8;
}
address {
    margin: 10px 0;
    font-style: italic;
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}
.sticky {

}
.gallery-caption {

}
#gallery-1 img { border: 0!important }
.bypostauthor {

}
.wp-caption-text { margin-bottom: 0 }
dl {

}
dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
}
dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
    overflow: hidden;
}
.fa.featured {
    color: #f06c77;
    font-size: 5em;
    margin-bottom: 20px;
}
.text-center { text-align: center }
.text-white { color: #fff }
.text-light-gray { color: #c5c5c5 }
/*-[ Framework ]--------------------*/
html, body {
    min-height: 100%;
    height: 100%;
}
body {
    font: 14px/23px Noto Sans, sans-serif;
    color: #555;
    background-color: #EBEBEB;
}
::-moz-selection {
    background: #222;
    color: white;
    text-shadow: none;
}
::selection {
    background: #222;
    text-shadow: none;
}
#page, .container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
.post-single-content h1, .post-single-content h2, .post-single-content h3, .post-single-content h4, .post-single-content h5, .post-single-content h6 { text-transform: uppercase }
.post-single-content h2 { font-size: 24px }
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 12px;
    color: #444;
}
h1 {
    font-size: 28px;
    line-height: 1.4;
}
h2 { line-height: 1.4 }
h3 {
    font-size: 22px;
    line-height: 1.4;
}
h4 {
    font-size: 20px;
    line-height: 1.4;
}
h5 {
    font-size: 18px;
    line-height: 1.4;
}
h6 {
    font-size: 16px;
    line-height: 1.4;
}
.sub-title { font-size: 12px }
p { margin-bottom: 20px }
a {
    text-decoration: none;
    color: #E16E7B;
    transition: all 0.25s linear;
}
a:hover { color: #EE210B }
a:link, a:visited, a:active { text-decoration: none }
/*-[ Reusable column setup ]------------*/
.col {
    border: 0px solid rgba(0,0,0,0);
    float: left;
    box-sizing: border-box;
    background-clip: padding-box !important;
    padding: 0 20px;
}
.row { margin-left: -15px }
.span_1 { width: 8.33333333333% }
.span_2 { width: 16.6666666667% }
.span_3 { width: 25.0% }
.span_4 { width: 33.3333333333% }
.span_5 { width: 41.6666666667% }
.span_6 { width: 50.0% }
.span_7 { width: 58.3333333333% }
.span_8 { width: 66.6666666667% }
.span_9 { width: 75.0% }
.span_10 { width: 83.3333333333% }
.span_11 { width: 91.6666666667% }
.span_12 {
    margin-left: 0;
    width: 100%;
}
.featured_image.span_6.col {
    width: 47.3%;
    padding-right: 0;
}
.content.span_6.col { width: 52.7% }
/*-[ Main container ]---------------*/
.main-wrapper { background-size: 100% }
.main-container {
    margin: 0 auto;
    clear: both;
    display: block;
    width: 1180px;
    background: none;
}
#page, .container {
    max-width: 1180px;
    min-width: 240px;
    overflow: hidden;
}
#page {
    padding-top: 3em;
    min-height: 100px;
    float: none;
    clear: both;
}
/*-[ Header ]-----------------------*/
header {
    float: left;
    width: 100%;
    position: relative;
}
.blog-title {
    padding: 2em;
    text-align: center;
}
.blog-title h1 { color: #fff }
.main-header {
    position: relative;
    float: left;
    width: 100%;
    padding-top: 25px;
    z-index: 99;
    min-height: 0;
}
.main-header .container { overflow: visible }
#header {
    position: relative;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 0;
}
#header h1, #header h2 {
    font-weight: 800;
    font-size: 34px;
    float: left;
    display: inline-block;
    line-height: 1;
    position: relative;
    margin-bottom: 0;
}
#logo a {
    float: left;
    line-height: 1;
}
.image-logo img { margin-top: 2px }
#header .social_icons {
    float: right;
    margin-top: 3px;
    margin-left: 10px;
}
#header .social_icons .fa-pinterest { line-height: 28px }
.social_icons a:last-child { margin-right: 0 }
.site-description {
    position: absolute;
    top: 32px;
    left: 0px;
}
.social_icons a {
    border: 1px solid #AAAAAA;
    border-radius: 50%;
    color: #CCCCCC;
    display: inline-block;
    font-size: 17px;
    height: 30px;
    line-height: 30px;
    margin: 0 4px;
    text-align: center;
    width: 30px;
}
.social_icons a:hover { border-color: transparent }
#header .header-search { float: right }
#header #searchform {
    max-width: 100%;
    float: right;
    width: auto;
    min-width: 206px;
}
#header #s {
    margin: 0 !important;
    width: 80%;
}
.widget-header {
    float: right;
    max-width: 77%;
    margin-bottom: 12px;
}
.widget-header .textwidget {
    float: left;
    margin-top: 46px;
    border-left: 1px solid #cccccc;
    padding-left: 20px;
}
/*-[ Navigation ]-----------------*/
.secondary-navigation {
    display: block;
    max-width: 100%;
    float: right;
    width: auto;
    margin-left: 40px;
}
.secondary-navigation a {
    color: #222222;
    font-weight: bold;
    text-align: left;
}
#navigation ul li {
    margin-top: -1px;
    border-bottom: 3px solid transparent;
    position: relative;
}
#navigation {
    float: left;
    width: 100%;
}
#navigation ul.primary-menu > li {
    float: left;
    line-height: 24px;
    position: relative;
    margin-top: -3px;
}
#navigation ul.primary-menu > li.fa:before {
    float: left;
    font-family: "fontawesome";
    font-size: 20px;
    position: relative;
    top: 8px;
}
#navigation ul.primary-menu > li > a {
    color: inherit;
    display: block;
    float: left;
    padding: 9px 15px 23px;
    text-decoration: none;
    text-transform: uppercase;
}
#navigation ul.primary-menu ul {
    position: absolute;
    width: 255px;
    padding: 20px 0 0 0;
    padding-top: 0;
    z-index: 400;
    font-size: 12px;
    margin-top: 4px;
    color: #798189;
    box-shadow: none;
}
#navigation ul ul a, #navigation ul ul a:link, #navigation ul ul a:visited {
    position: relative;
    margin: 0;
}
#navigation ul ul li:first-child a {

}
#navigation ul ul li:last-child a { border-bottom: none }
#navigation ul ul {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 100%;
    padding-top: 7px;
    background: #282828;
}
#navigation ul ul li { border-bottom: 0 !important }
#navigation ul ul li > a {
    padding: 10px 0px 10px 15px;
    display: block;
}
#navigation ul ul ul {
    left: 255px;
    margin-top: 1px !important;
    top: 0;
}
#navigation .menu [class^="icon-"], #navigation .menu [class*=" icon-"] { font-size: 16px }
#navigation .menu [class^="icon-"]:before, #navigation .menu [class*=" icon-"]:before {
    position: absolute;
    top: 9px;
    left: 23px;
    font-family: "FontAwesome";
}
#navigation .menu ul [class^="icon-"] > a, #navigation .menu ul [class*=" icon-"] > a { padding-right: 20px }
#navigation ul.primary-menu > .menu-item-has-children > a { padding-right: 25px }
.menu-item-has-children > a:after {
    content: "\f107";
    font-family: "FontAwesome";
    position: absolute;
    right: 10px;
}
.menu i.fa { margin-right: 6px }
.menu-item-has-children .menu-item-has-children > a:after { content: "\f105" }
.sub-menu .menu-item-has-children > a:after { right: 10px }
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after { clear: both }
.clearfix { *zoom: 1  }
nav a#pull { display: none }
/*-[ Content ]--------------------*/
.article, div#content_box.sidebar_layout {
    width: 68%;
    float: left;
    margin-bottom: 10px;
    padding: 0;
}
#content_box {
    float: left;
    width: 100%;
    overflow: hidden;
}
.post {
    float: left;
    width: 100%;
}
.single_page { padding-top: 0 }
.page-title {
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 1px;
    margin-bottom: 12px;
    padding-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
}
.single_page h1.page-title {
    padding-bottom: 50px;
    text-align: left;
    font-size: 30px;
    margin-bottom: 0;
}
.page-subtitle {
    font-weight: 400;
    font-size: 19px;
    opacity: 0.7;
    text-transform: none;
}
.post-content {
    padding-top: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    clear: both;
}
.post-single-content { clear: both }
.readMore {
    display: block;
    margin: 1em 0;
    text-align: right;
}
.frontPost .readMore a {
    color: #000;
    font-size: 12px;
}
.ss-full-width {
    overflow: hidden;
    padding-top: 0;
}
.ss-full-width #content_box {
    padding-right: 0;
    padding-left: 0;
}
.post.excerpt {
    clear: both;
    margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 15px;
    background-color: #fff;
    width: auto;
}
.blog .featured-thumbnail {
    max-height: 294px;
    overflow: hidden;
}
.featured-thumbnail {
    display: block;
    margin-bottom: 1em;
    position: relative;
    float: left;
    width: 100%;
}
.featured-thumbnail img {
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
    float: left;
}
.single-title, .single_post .single-title a, .post-title {
    color: #282828;
    margin-bottom: 10px;
    text-transform: uppercase;
}
h1.single-title > a { color: #282828 }
.post-title a { color: inherit }
.title {
    font-size: 28px;
    clear: both;
}
.page h1.title { padding-top: 0 }
.post-info, .comment-author {
    display: block;
    color: #888888;
    clear: both;
    border-bottom: 1px solid #E8E8E8;
}
.post-info { padding-bottom: 15px }
.post-info span a { color: inherit }
.post-info span { margin-right: 10px }
.related-posts .post-info {
    clear: none;
    float: none;
}
.thecategory { margin-left: 5px }
/**********latest-posts***********/
article header {
    margin-bottom: 15px;
    float: left;
    width: 100%;
}
.single article header { margin-bottom: 10px }
.latestPost, .single_post, .single_page {
    margin-bottom: 40px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px 0 rgba(164, 164, 164, 0.11);
}
.latestPost .title { display: block }
.homepage-blog article:nth-last-of-type(1) .single_post, .column_layout#content_box article:nth-last-of-type(2) .single_post { margin-bottom: 0 }
#content_box .more-page {
    margin-top: 25px;
    float: left;
    width: 100%;
}
.single_post header {
    width: 100%;
    margin-bottom: 8px;
}
.post-single-content img.left, .post-single-content img.alignleft, .wp-caption.alignleft {
    margin: 0.3em 1.571em 0.5em 0;
    display: block;
    float: left;
}
.post-single-content img.right, .post-single-content img.alignright, .wp-caption.alignright {
    margin: 0.3em 0 0.5em 1.571em;
    display: block;
    float: right;
}
.post-single-content img.center, .post-single-content img.aligncenter, .wp-caption.aligncenter {
    margin: 0.3em auto 0.5em auto;
    display: block;
}
.post-single-content img.aligncenter, .post-single-content img.alignnone {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    clear: both;
}
.post-single-content ul {
    margin: 1.5em 0 1.571em 1.9em;
    list-style-type: square;
}
.post-single-content ol {
    margin: 1.5em 0 1.571em 1.9em;
    list-style-type: decimal;
}
.post-single-content ul ul, .article ol ol, .article ul ol, .article ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
.post-single-content .iconlist { margin-left: 0 }
.post-single-content .iconlist li { list-style-type: none }
/*-[ Tab widget ]------------------------------*/
.widget .wp_review_tab_widget_content a {
    border-top: none;
    padding: 0;
}
.widget .wpt_widget_content .wpt-postmeta, .widget .wpt_comment_content, .wpt_excerpt {
    font-size: 14px;
    color: #888;
}
.post-number {
    position: relative;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 23px;
    font-weight: bold;
    color: #fff;
    bottom: 22px;
    background: #2DB2EB;
}
#tabber .inside .tabsSep {
    margin-top: 7px;
    width: 100%;
    height: 1px;
    background-color: #e8e5de;
    clear: both;
    float: left;
}
#sidebars #tabber .wp-post-image, footer #tabber .wp-post-image { margin-top: 4px }
.widget .tab-content a {
    font-weight: normal;
    line-height: 1.4;
}
div.wpt-postmeta { display: none }
.widget .wpt_widget_content .tab_title.selected a, .wpt_widget_content .tab_title:first-child a, .widget .wp_review_tab_widget_content .tab_title.selected a {
    padding-bottom: 0;
    border-bottom-color: #fff;
}
.widget .wpt_widget_content .tab_title a, .widget .wp_review_tab_widget_content .tab_title a {
    border-left-color: #fff;
    padding-bottom: 0;
    border-top: none;
    border-bottom: 0;
}
.widget .wpt_widget_content, .widget .wp_review_tab_widget_content { border: 0 }
.widget .wpt_widget_content .tab-content li, .widget .wp_review_tab_widget_content .tab-content li {
    padding: 14px 0 18px 0;
    border-bottom: 0;
    margin: 0;
}
.widget .wpt_widget_content .tab-content li:last-child, .widget .wp_review_tab_widget_content .tab-content li:last-child {
    padding-bottom: 0;
    border-top: 1px solid #ECECEC;
}
.wp_review_tab_widget_content .inside, .wpt_widget_content .inside { padding-bottom: 0 !important }
.widget .wpt_widget_content .has-4-tabs .tab_title a, .widget .wp_review_tab_widget_content .has-4-tabs .tab_title a { border-bottom: 1px solid #FFF!important }
.widget .review-total-only.small-thumb { line-height: 1.4 }
.widget .review-total-only { background: #282828 }
.widget .review-total-only.small-thumb .review-result-wrapper i { color: #282828!important }
.latestPost-review-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #E16E7B;
    padding: 3px 5px;
    color: #fff;
}
#homepage-posts .review-type-circle.latestPost-review-wrapper, #homepage-posts .review-type-circle.wp-review-on-thumbnail { height: 44px }
.latestPost-review-wrapper .review-total-star { margin: 0 }
.latestPost-review-wrapper .percentage-icon {
    top: 0;
    font-size: initial;
    font-weight: bold;
    right: 3px;
}
/*-[ Custom Nav Widget ]---------------------------*/
.widget_nav_menu [class^="icon-"], .widget_nav_menu [class*=" icon-"] { display: list-item }
.widget_nav_menu [class^="icon-"] > a, .widget_nav_menu [class*=" icon-"] > a { padding-left: 5px }
.widget_nav_menu .sub-menu { margin-top: 8px }
/*-[ Text Widget ]---------------------------*/
.textwidget { line-height: 23px }
/*-[ Form Input ]------------------*/
input, textarea, select {
    padding: 8px 12px;
    font-size: 14px;
    color: #D0D0D0;
    border: 1px solid #E8E8E8;
    font-family: inherit;
}
textarea {
    overflow: auto;
    resize: vertical;
}
select {
    padding: 6px 10px;
    border-color: #D8D8D8;
}
input:focus, textarea:focus {

}
/*-[ Tables ]--------------------*/
table {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
    border: 2px solid #F1F4F6;
}
thead {
    background: #F7F8F9;
    font-size: 14px;
    color: #585F65;
}
table th, table td {
    padding: 7px 15px;
    text-align: left;
}
thead th { padding: 14px }
tbody th {
    font-weight: normal;
    border-bottom: 1px solid #F5F7F9;
}
/*-[ Line ]---------------------*/
hr {
    border: none;
    border-bottom: 1px solid #E5E5E5;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width: 297px;
    margin: 35px 0;
    clear: both;
    position: relative;
}
/*-[ Search Form ]------------------*/
#searchform {
    padding: 0;
    float: left;
    clear: both;
    width: 100%;
    position: relative;
}
.article #searchform { max-width: 300px }
#searchform fieldset { float: left }
#search-image.sbutton, #searchsubmit {
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    width: 100%;
    height: 49px;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.25s linear;
    margin-top: 10px;
}
#s {
    background-color: #FFFFFF;
    border: 1px solid #E8E8E8;
    color: #555555;
    float: left;
    padding: 0;
    height: 49px;
    text-indent: 10px;
    width: 100%;
    border-radius: 3px;
}
/* Search input placeholder text styling */
::-webkit-input-placeholder { color: #D0D0D0 }
:-moz-placeholder { color: #D0D0D0 }
::-moz-placeholder { color: #D0D0D0 }
:-ms-input-placeholder { color: #D0D0D0 }
:input-placeholder { color: #D0D0D0 }
/* Microphone icon position fix */
input::-webkit-input-speech-button {
    margin-right: 14px;
    margin-left: 4px;
    cursor: pointer;
}
#searchform fieldset { width: 100% }
.breadcrumb { margin-bottom: 15px }
.no-results h2 { font-size: 16px }
/*-[ Read More ]-------------------*/
.read-more {
    margin: 0 0 0 10px;
    line-height: 1.4em;
    background: none;
    padding: 0;
    font-size: 16px;
}
/*-[ Top Ad in Post ]-------------------------------------*/
.topad {
    margin-bottom: 10px;
    clear: both;
}
/*-[ Bottom Ad in post ]-----------*/
.bottomad {
    float: left;
    clear: both;
    margin-top: 10px;
}
/*-[ Sidebar ]---------------------*/
#sidebars p { line-height: 20px }
.sidebar.c-4-12 {
    float: right;
    width: 29%;
    line-height: 20px;
    max-width: 342px;
}
#sidebars .wp-post-image, footer .wp-post-image { margin: 5px 10px 0 0 }
#sidebars .widget {
    background-color: #FFFFFF;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}
.widget-content {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 1px 1px 0 rgba(164, 164, 164, 0.11);
}
.widget .title {
    font-weight: bold;
    text-transform: uppercase;
    color: #545E68;
    font-size: 12px;
}
.widget h3 {
    border-bottom: 1px solid #ECECEC;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin: 0 0 15px -20px;
    padding: 0 20px 13px;
    text-transform: uppercase;
    box-sizing: initial;
    width: 100%;
}
.widget_categories li, .widget_archive li {
    position: relative;
    font-size: 16px;
}
.widget_categories li .posts-number, .widget_archive li .posts-number {
    position: absolute;
    top: 12px;
    right: 0;
    background: #FFF;
    border-radius: 50%;
    line-height: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    border: 1px solid #777;
}
a:hover + .posts-number {
    background: #ececec;
    color: #FFF;
    border: 1px solid #ececec;
}
.widget-content li {
    list-style-type: none;
    line-height: 1;
    margin-bottom: 5px;
    color: #4E4E4E;
    float: none;
    display: block;
    padding: 14px 0;
    border-top: 1px solid #ececec;
}
.widget-content li:last-child { padding-bottom: 0 }
.widget-content li:first-child, .widget-content li:first-child, .mts_ad_widget li, .widget .wpt_widget_content .tab-content li:first-child, .widget .wp_review_tab_widget_content .tab-content li:first-child { border-top: none }
.widget_mts_post_slider_widget li { padding: 0 }
.widget-content .sub-menu, .widget-content .children { margin-top: 0 !important }
.widget-content .sub-menu li:first-child, .widget-content .children li:first-child { border-top: 1px solid #ECECEC }
.widget_nav_menu .widget-content > h3, .widget_rss .widget-content > h3, .widget_pages .widget-content > h3, .widget_archive .widget-content > h3, .widget_nav_menu .widget-content > h3, .widget_categories .widget-content > h3, .widget_meta .widget-content > h3 { margin-bottom: 0 }
.widget_archive select, .widget_categories select {
    margin-top: 14px;
    width: 100%;
}
.advanced-recent-posts li, .popular-posts li, .category-posts li, .related-posts-widget li, .author-posts-widget li, .widget_recent_entries li {
    list-style: none!important;
    margin: 0;
    overflow: hidden;
    color: #aaa;
    background: none;
    padding: 14px 0 18px 0;
}
.popular-posts img, .category-posts img, .advanced-recent-posts img, .related-posts-widget img, .author-posts-widget img { float: left }
.popular-posts a, .category-posts a, .advanced-recent-posts a, .related-posts-widget a, .author-posts-widget li a, .widget_recent_entries a, .widget-content li a {
    color: #282828;
    line-height: 26px;
}
.advanced-recent-posts p, .popular-posts p, .category-posts p, .related-posts-widget p, .author-posts-widget li p {
    font-size: 15px;
    margin: 5px 0 0;
}
.widget .meta, .widget_recent_entries .post-date {
    color: #888;
    font-size: 15px;
    margin-top: 5px;
    display: inherit;
    overflow: hidden;
}
/*-[ Sidebar menu ]--------------------------*/
.sidebar .menu li a { color: #282828 }
.sidebar .menu li:before { content: "" }
.sidebar .menu-item-has-children > a:after {
    font-family: inherit;
    content: "";
}
.textwidget select { width: 100% }
/*-[ Social Buttons ]--------------------------*/
.share-item.facebookbtn, .share-item.linkedinbtn, .share-item.stumblebtn { width: 92px }
.shareit {
    padding: 12px 0 7px;
    overflow: hidden;
    clear: both;
    border: none;
}
.share-item {
    display: block;
    margin: 0;
    float: left;
    height: 25px;
}
.share-item.shareit.top {
    float: left;
    margin-bottom: 10px!important;
    margin-top: 0;
    width: 100%;
}
.share-item.facebookbtn {
    margin-top: -1px;
    width: 100px;
    height: 28px;
}
.share-item.gplusbtn { width: 85px }
.share-item.pinbtn { margin-top: 2px }
.share-item.stumblebtn {
    margin-top: 1px;
    height: 24px;
}
/*-[ Social Profile Widget ]--------------------------*/
.social-profile-icons ul li {
    background: none;
    border: none;
    float: left;
    list-style-type: none;
    margin: 0 8px 8px 0!important;
    padding: 0 !important;
    border: none !important;
}
.social-profile-icons ul li a {
    width: 32px;
    height: 32px;
    display: block;
    float: left;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    color: #FFF!important;
    transition: all .4s;
    padding: 0;
}
.sidebar .social-profile-icons ul li a:hover {
    color: #fff;
    background: #666;
}
.sidebar .social-profile-icons ul li a { color: #fff }
.social-profile-icons ul li i {
    font-size: 16px;
    line-height: 32px;
}
.social-profile-icons .social-youtube a { background: #DD4B39 }
.social-profile-icons .social-rss a { background: #EE802F }
.social-profile-icons .social-twitter a { background: #55ACEE }
.social-profile-icons .social-facebook a { background: #3B5998 }
.social-profile-icons .social-gplus a { background: #DD4B39 }
.social-profile-icons .social-vimeo a { background: #4BF }
.social-profile-icons .social-dribbble a { background: #EA4C89 }
.social-profile-icons .social-tumblr a { background: #34526F }
.social-profile-icons .social-instagram a { background: #3F729B }
.social-profile-icons .social-flickr a { background: #FF0084 }
.social-profile-icons .social-pinterest a { background: #C8232C }
.social-profile-icons .social-linkedin a { background: #0e76a8 }
.social-profile-icons .social-github a { background: #171515 }
.social-profile-icons .social-email a { background: #CACACA }
/*-[ Footer ]-------------------*/
footer {
    background-color: #282828;
    box-shadow: 0 -4px 0 #282828;
    clear: both;
    color: #555555;
    font-size: 13px;
    overflow: hidden;
    padding: 20px 0;
    position: relative;
    width: 100%;
}
footer div.container { overflow: visible }
#footer-nav { float: right }
#footer-nav li { float: left }
footer .footer-menu a {
    margin-left: 20px;
    text-transform: uppercase;
}
footer .footer-menu .sub-menu { display: none }
.copyrights { text-align: center }
.copyrights > span { float: left }
.postsby { margin-bottom: 25px }
/*-[ Back To Top ]---------------------------*/
div.top {
    position: absolute;
    width: 35px;
    z-index: 1000;
    left: 50%;
    height: 30px;
}
.top a.toplink {
    border: 1px solid #555555;
    border-radius: 50%;
    color: #555555;
    display: inline-block;
    font-size: 20px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    width: 30px;
}
#move-to-top {
    cursor: pointer;
    font-weight: bold;
    padding: 14px 14px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    transition: all 0.25s linear 0s;
    width: 20px;
    z-index: 25;
    border: 1px solid #555;
    border-radius: 50%;
    color: #555;
    display: inline-block;
    font-size: 20px;
    height: 30px;
    line-height: 26px;
    text-align: center;
    width: 30px;
}
#move-to-top:hover { border-color: #fff }
#move-to-top:not(.filling) {
    opacity: 0;
    visibility: hidden;
}
#move-to-top .fa-angle-up {
    font-size: 22px;
    position: absolute;
    top: 2px;
    left: 7px;
}
/*-[ Instructions ]--------------------*/
.instructions { font-size: .9em }
.instructions a {
    font: inherit;
    color: inherit;
    text-transform: inherit;
    padding: 0;
}
#header .instructions { color: #eee }
/*-[ Related Posts ]---------------------------*/
.related-posts h3, .postauthor h3 { margin-bottom: 1em }
.related-posts {
    margin-bottom: 2em;
    clear: both;
    float: left;
    width: 100%;
}
.related-posts ul {
    margin-left: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin-top: 0;
}
.relatedthumb {
    display: block;
    clear: both;
    margin-bottom: 0;
}
.relatedthumb img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%;
}
.rthumb {
    display: block;
    overflow: hidden;
}
.related-posts li {
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    float: left;
    line-height: 1.4;
    list-style: none outside none;
    margin-right: 2%;
    padding: 11px;
    text-align: center;
    width: 23.43%;
    margin-bottom: 1em;
}
.related-posts li:nth-of-type(4n+1) { clear: left }
.related-posts a {
    line-height: 20px;
    color: #282828;
}
.related-posts .last { margin-right: 0 }
/*-[ Post Tags ]---------------------------------*/
.tags {
    margin: 20px 0 0 0;
    width: 100%;
    float: left;
}
.tags a { margin-left: 5px }
/*-[ Author Box ]--------------------------------*/
.postauthor {
    margin: 0px 0 3em 0;
    padding: 0;
    min-height: 180px;
    float: left;
    clear: both;
    width: 100%;
}
.postauthor .postcontent {
    background-color: #fff;
    padding: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 1px 0 rgba(164, 164, 164, 0.11);
}
.postcontent .meta span a {
    border: 1px solid #C5C5C5;
    border-radius: 50%;
    color: #C5C5C5;
    display: inline-block;
    height: 30px;
    line-height: 32px;
    margin-left: 7px;
    text-align: center;
    width: 30px;
}
.postcontent .meta span a:hover {
    border-color: transparent;
    transition: all 0.25s linear;
}
.postcontent .meta {
    float: right;
    margin-top: -5px;
}
.postauthor p {
    line-height: 28px;
    margin-bottom: 0;
    margin-top: 15px;
}
.postauthor h5 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.postauthor h5 a { color: #282828 }
.postauthor img {
    float: left;
    margin: 0 20px 0 0;
}
.postauthor .author_link {
    bottom: 13px;
    float: right;
    position: absolute;
    right: 20px;
}
.postauthor-top {
    padding-top: 5px;
    padding-bottom: 8px;
    margin-bottom: 15px;
}
.clear { clear: both }
.left { float: left }
.right { float: right }
.last { margin-right: 0 }
/*-[ Tag widget ]------------------------------*/
.tagcloud a, .widget .wpt_widget_content #tags-tab-content ul li a {
    background-color: #DEDBDB;
    border-radius: 0 2px 2px;
    color: #4E4E4E;
    float: left;
    font-size: 14px !important;
    margin-bottom: 12px;
    margin-right: 22px;
    padding: 4px 10px 4px 14px;
    position: relative;
    text-transform: capitalize;
    border: 0;
}
.tagcloud a:after, .widget .wpt_widget_content #tags-tab-content ul li a:after {
    border-bottom: 14px solid rgba(0, 0, 0, 0);
    border-right: 12px solid #DEDBDB;
    border-top: 14px solid rgba(0, 0, 0, 0);
    content: "";
    left: 0;
    margin-left: -12px;
    position: absolute;
    top: 0;
    transition: all 0.25s linear;
}
.tagcloud a:before, .widget .wpt_widget_content #tags-tab-content ul li a:before {
    background-color: #FFFFFF;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 6px;
    left: 0;
    margin-top: 7px;
    position: absolute;
    width: 6px;
}
.tagcloud {
    display: inline-block;
    padding: 0 13px;
}
.widget .wpt_widget_content #tags-tab-content { padding-bottom: 0 }
.widget .wpt_widget_content #tags-tab-content ul {
    text-align: left;
    margin-top: 5px;
}
.widget .wpt_widget_content #tags-tab-content ul li {
    border-bottom: 0;
    margin: 0;
}
/*-[ Subscribe Widget ]------------------------*/
.widget.mts_subscribe_widget form { position: relative }
.mts-subscribe input[type="text"] {
    transition: all 0.25s linear;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding: 0;
    height: 49px;
    text-indent: 10px;
    border-radius: 3px;
}
#mts_subscribe_widget { border: 1px solid #F1F1F1 !important }
.mts-subscribe input[type="submit"] {
    border: 0;
    color: #FFF;
    cursor: pointer;
    float: left;
    height: 49px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.25s linear;
    width: 100%;
    margin-top: 10px;
}
.mts-subscribe input[type="submit"]:hover, #search-image.sbutton:hover, #searchsubmit:hover { background: #222 }
/*-[ Ad Widgets ]------------------------------*/
.ad-125 ul {
    list-style: none outside none;
    margin: 0 auto;
    max-width: 100%;
}
.ad-125 li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none !important;
    float: left;
    list-style: none outside none !important;
    margin-bottom: 15px;
    margin-left: 0;
    padding-left: 0;
    padding-top: 0 !important;
    max-width: 48%;
}
.ad-125 li:nth-child(2n+2) { float: right!important }
.ad-125 li:nth-last-child(2), .ad-125 li:last-child { margin-bottom: 0 }
/*-[ Calender Widget ]-------------------------*/
#wp-calendar {
    margin-bottom: 0;
    background: #fff;
    border: 0;
}
#wp-calendar td {
    text-align: center;
    padding: 7px 0;
    border-top: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
}
#wp-calendar caption {
    padding-bottom: 10px;
    padding-top: 12px;
    font-weight: bold;
    font-size: 15px;
    color: #FFF;
    text-transform: uppercase;
    background: #282828;
    padding: 12px 15px;
    text-align: left;
}
#wp-calendar #prev {
    text-align: left;
    padding-left: 12px;
}
#wp-calendar thead th {
    padding: 10px 0;
    text-align: center;
}
footer #wp-calendar {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: none;
}
#wp-calendar td { border-color: rgba(255, 255, 255, 0.05) }
#wp-calendar tbody tr:nth-child(1) td { border-top: 0 }
/*-[Comments]--------------*/
#comments {
    margin-top: 27px;
    clear: both;
}
.comment-author-avatar {
    float: left;
    width: 12%;
    padding-right: 2%;
}
.comment-data {
    float: left;
    width: 88%;
}
.comment-author {
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.total-comments {
    text-transform: uppercase;
    font-size: 19px;
    color: #EE210B;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 9px;
}
.cnumber { color: #2DB2EB }
#commentsAdd {
    width: 100%;
    clear: both;
    margin-bottom: 20px;
}
.comment time { padding-left: 10px }
ul.children .commentImageLeft {
    width: 60px;
    height: 90px;
    border-left: 1px solid #c1bbb6;
    border-bottom: 1px solid #c1bbb6;
    position: absolute;
    top: -50px;
    left: -70px;
}
#cancel-comment-reply-link {
    float: right;
    line-height: 24px;
    margin-top: 0;
}
#cancel-comment-reply-link {
    color: #EE210B;
    cursor: pointer;
    margin-bottom: -20px;
    text-decoration: underline;
    z-index: 100;
    position: relative;
}
.contactform label { display: block }
.contactform {
    overflow: hidden;
    margin-bottom: 35px;
}
.error { color: red }
.thanks p { color: green }
ol.commentlist {
    background-color: #FFFFFF;
    margin: 18px 0 40px;
    padding: 30px 20px;
    box-shadow: 0 1px 1px 0 rgba(164, 164, 164, 0.11);
}
.commentlist li {
    float: left;
    list-style: none outside none;
    position: relative;
    width: 100%;
}
.reply {
    float: right;
    margin-bottom: 15px;
}
.reply a { font-size: 16px }
.comment #respond #respond { margin-top: 20px }
.commentlist .children {
    float: left;
    margin-bottom: 0;
    margin-left: 3%;
    margin-top: 0;
    width: 96%;
}
.commentlist .children li { padding-bottom: 0 }
.avatar { float: left }
.comment-awaiting-moderation {
    font-style: italic;
    font-weight: bold;
}
.commentmetadata ul, .commentmetadata ol { margin-top: 5px }
/*-[ Comment Form ]----------------------------*/
#commentform {
    background-color: #FFFFFF;
    display: block;
    margin-top: 20px;
    overflow: hidden;
    padding: 40px 20px;
    box-shadow: 0 1px 1px 0 rgba(164, 164, 164, 0.11);
}
.comment #commentform {
    padding: 0;
    box-shadow: none;
}
#commentform textarea, #commentform input#author, #commentform input#email, #commentform input#url {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DEDEDE;
    margin-right: 10px;
    padding: 1em 0;
    text-indent: 20px;
    width: 100%;
    transition: all 0.25s ease-in-out;
}
#commentform textarea:focus, #commentform input#author:focus, #commentform input#email:focus, #commentform input#url:focus { border-color: #afafaf }
#commentform input#submit, .contactform #submit {
    border: medium none;
    border-radius: 4px;
    float: right;
    padding: 10px 20px;
}
#commentform textarea {
    background: #FFFFFF;
    font-family: inherit;
    line-height: 25px;
    padding: 2%;
    text-indent: inherit;
    width: 100%;
    margin-right: 0;
}
#commentform p {
    margin-bottom: 15px;
    float: left;
    width: 100%;
    clear: both;
}
#commentform p label {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
}
.cancel-comment-reply a {
    float: right;
    margin-top: -8px;
}
.required {
    color: red;
    padding: 0;
    line-height: 1;
}
.comment-notes .required {
    padding-left: 0;
    padding-top: 3px;
}
.comment-notes { font-style: italic }
/*-[ pagination ]------------------*/
.pagination {
    clear: both;
    overflow: hidden;
    float: left;
    width: 100%;
    margin-top: 45px;
}
.single .pagination {
    border: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin-top: 0;
    padding: 2.2% 0;
    width: 100%;
}
.pagination ul {
    list-style: none;
    margin: 0;
}
.pagination ul li {
    float: left;
    margin-bottom: 5px;
}
.currenttext, .pagination a:hover, .single .pagination a:hover .currenttext {
    color: #fff;
    margin: 0 5px 0 0;
    display: inline-block;
    float: left;
    line-height: 1;
    text-decoration: none;
    padding: 10px 13px;
    background: #282828;
    border-radius: 3px;
    min-width: 36px;
}
.pagination a, #load-posts a {
    background: #E16E7B;
    margin: 0 5px 0 0;
    display: inline-block;
    float: left;
    line-height: 1;
    min-width: 36px;
    text-decoration: none;
    color: #fff;
    padding: 10px 13px;
    transition: all 0.25s linear;
    border-radius: 3px;
}
#load-posts a.loading { min-height: 0 }
.pagination a:hover { color: #fff }
.pagination .nav-previous { float: left }
.pagination .nav-next { float: right }
.pagination .nav-previous a, .pagination .nav-next a {
    color: #fff!important;
    border-radius: 3px;
}
.pagination  .nav-previous a:hover, .pagination .nav-next a:hover { background-color: #282828 }
.single .pagination a .currenttext, .single .pagination a:hover .currenttext {
    padding: 0;
    background: transparent;
    margin-right: 0;
}
.single .pagination a:hover .currenttext { color: #fff }
.ajax-pagination {
    text-align: center;
    clear: both;
    padding-top: 25px;
}
.ajax-pagination .page-numbers {
    display: inline-block;
    color: #999;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border: 1px solid #999;
    border-radius: 50%;
    margin-left: 12px;
    margin-bottom: 5px;
}
.ajax-pagination .page-numbers:first-child { margin-left: 0 }
.ajax-pagination .page-numbers:hover, .ajax-pagination .page-numbers.current {
    background: #999;
    color: #fff;
}
/*-[ AJAX search results ]------------------*/
.widget_search .widget-content {
    display: inline-block;
    overflow: visible;
    width: 100%;
    float: left;
}
.ajax-search-box-open #s { border-bottom: 1px solid #fff }
.ajax-search-results-container {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E8E8E8;
    border-top: 0;
    left: 0;
    position: absolute;
    top: 41px;
    width: 100%;
    z-index: 100000;
}
.ajax-search-results-container .attachment-widgetthumb.wp-post-image { float: left }
.ajax-search-results-container.loading:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.8);
}
ul.ajax-search-results {
    margin: 0;
    padding: 0;
}
.widget-content .ajax-search-results li:first-child { padding-top: 4px }
.widget-content .ajax-search-results li {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 15px 4% 2px;
    width: 100%;
}
.widget-content .ajax-search-results li a {
    line-height: 22px;
    padding: 0;
    border-top: 0;
}
.widget-content .ajax-search-results li .meta {
    display: block;
    margin-top: 8px;
}
.ajax-search-results .wp-post-image {
    margin-bottom: 0;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0;
}
.ajax-search-meta {
    margin: 10px 15px;
    height: 20px;
}
.ajax-search-meta .results-count {
    float: left;
    color: #aaa;
}
.ajax-search-meta .results-link { float: right }
.ajax-search-results-container .no-results {
    padding: 8px;
    color: #AAA;
    font-style: italic;
}
/*-[ Load More ]-------------------*/
.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 3px;
    transition: width 0.8s;
}
.admin-bar .pace .pace-progress { top: 32px }
.pace-inactive { display: none }
div#load-posts {
    clear: both;
    overflow: hidden;
    text-align: center;
}
#load-posts .fa, #fs2_load_more_button .fa { margin-right: 8px }
#load-posts a {
    font-weight: bold;
    float: none;
    margin-top: 45px;
}
#load-posts a.inactive { cursor: default }
/*-[ Misc ]---------------------------*/
pre {
    overflow: auto;
    padding: 15px;
    margin: 15px 0;
    position: relative;
    background: #777;
    font-family: monospace;
    color: #fff;
    box-sizing: border-box;
}
pre:before {
    content: "\f121";
    color: #FFF;
    position: absolute;
    font-size: 18px;
    right: 14px;
    top: 6px;
    font-family: fontawesome;
}
/*-[ Responsive Navigation ]--------------------------------*/
#mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: scroll;
    background: #222;
    -webkit-transform: translate(-300px,0);
    transform: translate(-300px,0);
    transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
    z-index: 1000;
}
.main-container {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
}
.mobile-menu-active { overflow: hidden }
.mobile-menu-active #mobile-menu-wrapper {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}
.mobile-menu-active .main-container {
    -webkit-transform: translate(300px,0);
    transform: translate(300px,0);
}
#mobile-menu-wrapper .menu { background: none }
#mobile-menu-wrapper ul li {
    width: 100%;
    display: block;
}
#mobile-menu-wrapper #navigation ul li:hover { background: none }
#mobile-menu-wrapper ul li a, #mobile-menu-wrapper #navigation ul ul a {
    padding: 9px 0;
    width: 100%;
    border: none;
}
#mobile-menu-wrapper #navigation ul ul {
    display: block;
    position: static;
    width: 100%;
    border: none;
}
#mobile-menu-wrapper #navigation ul ul li {
    background: none;
    width: 100%;
}
.parallax {
    overflow: hidden;
    position: absolute;
}
.parallax-viewport {
    position: relative;
    overflow: hidden;
}
/* ==========================================================================
   Homepage
   ========================================================================== */
body.home .main-container, body.home #page {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.homepage-section .inside {
    padding: 5em 0 6em 0;
    overflow: hidden;
    margin: 0 auto;
    width: 1180px;
    position: relative;
    max-width: 100%;
}
.homepage-section.blog .inside {
    padding-bottom: 3em;
    padding-top: 3em;
}
.conform {
    width: 1180px;
    max-width: 100%;
    margin: 0 auto;
}
/* 
   Title & Slider
   ========================================================================== */
#homepage-title-slider {
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;
    z-index: 1;
}
#homepage-title-slider .inside {
    padding: 0;
    width: 100%;
}
#homepage_slider { z-index: 10000 }
#homepage-title-slider img {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
#homepage_slider .flex-caption {
    color: #FFFFFF;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 10%;
    width: 80%;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
#homepage_slider .has_caption {
    padding-top: 0;
    text-align: center;
}
#homepage_slider .flex-caption h2 {
    line-height: 1em;
    text-transform: uppercase;
    margin-bottom: 15px;
}
#homepage-title-slider .owl-controls .owl-pagination {
    bottom: 70px;
    display: inline-block;
    position: absolute;
    right: 40px;
    text-align: right;
    z-index: 100000;
}
#homepage-title-slider .owl-controls .owl-pagination .owl-page {
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 1px solid #fff;
    margin-right: 10px;
}
#homepage-title-slider .owl-controls .owl-pagination .owl-page.active { background-color: #FFFFFF }
#homepage-title-slider .owl-controls .owl-buttons {
    position: absolute;
    top: 36%;
    width: 92%;
    height: 0;
    left: 4%;
    opacity: 0;
    transition: opacity .25s ease;
}
#homepage-title-slider .owl-controls .owl-buttons div, #homepage-testimonials .owl-buttons div, #service_slides .owl-buttons div {
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    color: #FFFFFF;
    display: inline-block;
    height: 50px;
    line-height: 52px;
    text-align: center;
    width: 50px;
    transition: all 0.25s linear;
}
#homepage-title-slider .owl-controls .owl-buttons div:hover, #homepage-testimonials .owl-buttons div:hover, #service_slides .owl-buttons div:hover {
    background-color: #fff;
    color: #444;
}
#homepage-title-slider .owl-controls .owl-buttons div.owl-next { float: right }
.homepage-section {
    clear: both;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.homepage-section h3.page-subtitle {
    padding-bottom: 3em;
    text-align: center;
    opacity: 0.8;
}
#homepage_slider:hover .owl-controls .owl-buttons { opacity: 1 }
div.slider-overlay {
    background-color: #000000;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    zoom: 1;
    filter: alpha(opacity=80);
    opacity: 0.4;
}
/* 
   Buttons
   ========================================================================== */
#homepage-buttons {
    position: relative;
    margin-top: -4em;
    border-bottom: 0;
    overflow: visible;
}
#homepage-buttons .inside {
    text-align: center;
    padding: 2.5em 0;
    width: 1180px;
    margin: 0 auto;
    box-shadow: 0 1px 1px 0 rgba(164, 164, 164, 0.11);
    z-index: 100;
}
.homepage-button {
    font-size: 1.2em;
    font-weight: 500;
    color: #fff;
    margin: 0 16px;
}
.homepage-button i { margin-right: 10px }
/* 
   Features
   ========================================================================== */
.feature {
    background: #fff;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 1.5%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.feature-icon span.fa {
    font-size: 3.5em;
    margin: 25px 0;
}
/* 
   Counter
   ========================================================================== */
.counter-item {
    text-align: center;
    float: left;
}
.counter-item .count {
    display: block;
    clear: both;
    font-weight: 400;
    font-size: 3em;
    line-height: 1.5em;
}
#homepage-counter .counter-item .count {
    font-size: 52px;
    font-weight: 700;
    color: #282828;
}
.counter-item .sub {
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.7);
}
/* 
   Team
   ========================================================================== */
.team_row { margin-top: 20px }
.team_row:first-child { margin-top: 0 }
.team_row .team-image {
    max-height: 240px;
    overflow: hidden;
}
.team-member {
    background-color: #FFFFFF;
    height: 392px;
    margin-left: 1.5%;
    padding: 0;
    position: relative;
    text-align: center;
    max-width: 380px;
    box-shadow: 0 1px 1px 0 rgba(164, 164, 164, 0.11);
}
.team-member:hover .team-description { opacity: 0.8 }
.team-member:hover .slide-up { margin-top: -155px }
.team-member .mask {
    height: 322px;
    overflow: hidden;
    position: relative;
}
.team-member .team-title {
    margin: 0.5em 0 2px;
    text-transform: none;
}
.team-member .team-description {
    opacity: 0;
    text-align: center;
    padding: .5em;
}
.team-member .team-description, .team-member .slide-up {
    -webkit-transform: translate3d( 0, 0, 0 ); /* Chrome fix */
    transition: all .4s;
}
.team-member .team-member-contact {
    position: absolute;
    bottom: 0;
    z-index: 10;
    border-top: 1px solid #e8e8e8;
    height: 66px;
    width: 100%;
    text-align: center;
}
.team-member .team-member-contact i {
    border: 1px solid #C5C5C5;
    border-radius: 32px;
    color: #C5C5C5;
    font-size: 16px;
    height: 28px;
    line-height: 30px;
    margin: 18px 6px;
    width: 28px;
    transition: all ease .2s;
}
.team-member .team-member-contact i:hover { border-color: transparent }
.team-member .team-image img {
    display: inline-block;
    width: 100%;
}
/* 
   Homepage service section
   ========================================================================== */
.homepage-service .carousel-item { text-align: center }
.loading .carousel-item { display: none }
.homepage-service .inside { position: relative }
.homepage-service  .service-icon span.fa {
    border-radius: 50%;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    display: block;
    width: 70px;
    font-size: 2.5em;
}
#service_slides p { opacity: 0.8 }
/* 
   Twitter tweets
   ========================================================================== */
.homepage-twitter { text-align: center }
.homepage-twitter .bx-wrapper { padding-top: 40px }
.homepage-twitter .tweets, .homepage-twitter .tweets a {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 43px;
}
.homepage-twitter .twitter_username {
    background-color: #FFFFFF;
    border-radius: 4px;
    display: inline-block;
    font-size: 18px;
    margin-top: 30px;
    padding: 15px 20px;
    text-transform: none;
}
.homepage-twitter .twitter_username span { margin-right: 10px }
/* 
   Portfolio
   ========================================================================== */
#filters {
    margin-bottom: 40px;
    text-align: center;
}
#filters li {
    display: inline-block;
    margin-right: 5px;
}
#filters li:last-child { margin-right: 0 }
#filters li a {
    border-radius: 3px;
    color: #4E4E4E;
    display: inline-block;
    padding: 5px 15px;
    text-transform: uppercase;
}
#portfolio-grid .item {
    width: 33.33333%;
    float: left;
    outline: 8px solid white;
    outline: 8px solid rgba(255, 255, 255, 0);
    margin-bottom: 4px;
}
#portfolio-grid .item a.expand-view {
    display: inline-block;
    position: relative;
}
#portfolio-grid .item a.expand-view img {
    display: block;
    vertical-align: bottom;
}
#portfolio-grid .loader {
    height: 32px;
    color: #fff;
    left: 46%;
    position: absolute;
    top: 46%;
    width: 32px;
    font-size: 32px;
}
#portfolio-grid .loader i {
    -webkit-animation: spin 0.8s infinite linear;
    animation: spin 0.8s infinite linear;
}
#portfolio-grid .item a.expand-view .overlay {
    height: 100%;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    transition: opacity 500ms linear;
}
#portfolio-grid .item a.expand-view:hover .overlay { opacity: 1 }
#portfolio-grid .item.disabled a { pointer-events: none }
#portfolio-grid .item a.expand-view .overlay h4 {
    color: #FFFFFF;
    margin-bottom: 20px;
}
#portfolio-grid .item a.expand-view .overlay span {
    background-color: #FFFFFF;
    margin-top: 5px;
    padding: 12px 20px;
}
#portfolio-grid .item a.expand-view .overlay span i {
    font-size: 22px;
    margin-right: 10px;
}
#portfolio-grid .item a.expand-view .overlay_container {
    padding: 15% 14%;
    display: inline-block;
}
.item_3 { width: 32.2% }
.item_4 { width: 23.7% }
.item_last { margin-right: 0 }
.expander {
    background-color: #EFEDED;
    clear: both;
    display: none;
    line-height: 28px;
    margin-bottom: 20px;
    padding: 20px 0;
    position: relative;
}
.expander .close-view {
    position: absolute;
    right: 15px;
    top: 10px;
}
.expander .close-view a {
    border: 1px solid #999999;
    border-radius: 50%;
    color: #AAAAAA;
    display: inline-block;
    font-size: 14px;
    height: 25px;
    line-height: 23px;
    text-align: center;
    width: 25px;
}
/* 
   Pricings
   ========================================================================== */
#pricing_tables ul li {
    background-color: #FFFFFF;
    color: #4E4E4E;
    float: left;
    margin-left: 1.5%;
    text-align: center;
}
#pricing_tables ul li.highlight {
    position: relative;
    top: -15px;
}
#pricing_tables ul li .table_title {
    line-height: 28px;
    font-size: 24px!important;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: 700;
}
#pricing_tables ul li.highlight .table_title {
    padding: 22px 0;
    font-weight: 700;
}
#pricing_tables ul li .price_container {
    background-color: #EFEDED;
    color: #282828;
    padding: 25px 0 15px;
    font-size: 64px;
}
#pricing_tables ul li span.price {
    display: block;
    line-height: 56px;
    font-size: 64px;
    font-weight: bold;
}
#pricing_tables ul li .description {
    color: #969696;
    font-size: 14px;
}
#pricing_tables ul li .features {
    line-height: 36px;
    padding: 20px 0 0;
}
#pricing_tables ul li .table_button {
    border-top: 1px solid #E8E8E8;
    margin-top: 15px;
    padding: 30px 0;
}
#pricing_tables ul li.highlight .table_button { padding: 30px 0 45px }
#pricing_tables ul li .table_button > a, #pricing_tables ul li .table_button > span {
    background-color: #282828;
    border-radius: 2px;
    color: #FFFFFF;
    display: inline-block;
    padding: 10px 40px;
}
#pricing_tables ul li .table_button > span {
    background-color: #ccc;
    color: #222;
}
.table_4, .feature_4 { width: 23.87% }
.table_3, .feature_3 { width: 32.33% }
.table_2 { width: 49.25% }
/* 
   Homepage testimonialss
   ========================================================================== */
#testimonials {
    line-height: 28px;
    text-align: center;
}
#testimonials .testifier-image > img {
    border: 7px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
}
#homepage-testimonials .testimonial-item { margin: 0 10px }
#testimonials .testifier-image .arrow, #homepage-features .feature-icon .arrow, #homepage-service .service-icon .arrow {
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid rgba(0, 0, 0, 0);
    border-top: 15px solid;
    display: inline-block;
    position: relative;
}
#homepage-features .feature-icon .arrow, #homepage-service .service-icon .arrow { top: -8px }
#testimonials .testifier-image .arrow {
    border-top-color: #FFFFFF;
    top: -15px;
}
#homepage-testimonials .owl-buttons, #service_slides .owl-buttons { text-align: center }
#homepage-testimonials .owl-buttons div, #service_slides .owl-buttons div {
    border-color: #AAAAAA;
    color: #AAAAAA;
    margin: 20px 10px 0;
    position: relative;
    right: auto;
}
#homepage-testimonials .owl-buttons div:hover, #service_slides .owl-buttons div:hover { border-color: transparent }
#testimonials .testifier {
    font-style: italic;
    margin-top: 5px;
}
.testimonial-item .testimonial { opacity: 0.8 }
/* 
   Homepage clients
   ========================================================================== */
.clients { text-align: center }
.clients > li {
    display: inline-block;
    margin-left: 5%;
}
.clients > li:first-child, #pricing_tables ul li:first-child, .feature:nth-child(3n+1), .team-member:first-child, .carousel-item:first-child { margin-left: 0 }
/* 
   Homepage Blog
   ========================================================================== */
.column_layout .post {
    margin-left: 2%;
    width: 49%;
}
.column_layout .post:nth-of-type(2n+1) {
    clear: left;
    margin-left: 0;
}
.column_layout .post:nth-of-type(1) { margin-left: 0 }
.column_layout .single_post { margin-bottom: 25px }
.column_layout .post .post-single-content p { line-height: 28px }
.homepage-blog .sidebar .wdget { box-shadow: 0 1px 1px 0 rgba(164, 164, 164, 0.11) }
#homepage-posts { position: relative }
#homepage-blog:after { content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; transition: opacity ease-out 300ms; background: #fff; opacity: 0; z-index: -1; }
#homepage-blog.loading-posts:after { opacity: 0.7; z-index: 1; }
/* 
   Homepage Contact
   ========================================================================== */
.contact_section h6 {
    text-transform: uppercase;
    margin-bottom: 20px;
}
.contact_section .social_icons { margin-top: 0 }
.contact_section .social_icons a { margin: 0 8px 0 0 }
.contact_section span {
    display: block;
    margin-bottom: 10px;
}
.contact_section span i {
    padding-right: 15px;
    color: #222;
    font-size: 20px;
}
.contact_section #mtscontact_form > input, .contact_section #mtscontact_form > textarea {
    color: #222222;
    margin-bottom: 20px;
    padding: 15px 0;
    text-indent: 20px;
    width: 100%;
}
.contact_section #mtscontact_form > textarea { min-height: 200px }
.contact_section .mtscontact_error {
    color: #D8472C;
    margin-bottom: 10px;
    margin-top: -10px;
}
div#mtscontact_success { color: #2BB679 }
#mtscontact_form > #mtscontact_submit {
    border: medium none;
    float: right;
    padding: 10px 50px;
    text-indent: 0;
    text-transform: capitalize;
    width: auto;
}
.homepage-contact .inside { padding-bottom: 30px }
#map_canvas img {
    max-width: none !important;
    width: auto !important;
}
/* ==========================================================================
   Showcase
   ========================================================================== */
#showcase {
    position: relative;
    width: 100%;
    padding-bottom: 36.6%;
    margin-top: 2em;
}
#showcase .asset { position: absolute }
#showcase .asset.macbook {
    left: 18%;
    bottom: 0;
    z-index: 5;
    width: 63%;
}
#showcase .asset.ipad {
    right: 18%;
    bottom: 0;
    z-index: 10;
    width: 22.7%;
}
#showcase .asset.iphone {
    right: 34%;
    bottom: 0;
    z-index: 15;
    width: 10.8%;
}
/* ==========================================================================
   Grid
   ========================================================================== */
.row {
    overflow: hidden;
    clear: both;
    margin: 5em 0;
}
.col-5 {
    float: left;
    width: 20%;
    padding: 0 10px;
}
.col-4 {
    float: left;
    width: 25%;
    padding: 0 10px;
}
.col-3 {
    float: left;
    width: 33.33333%;
    padding: 0 10px;
}
.col-2 {
    float: left;
    width: 50%;
    padding: 0 10px;
}
